*.d
*.o
*.a
*.log
.lastoptions*
*~
_install/
*.out
tests/unit/result/
*.orig
tests/unit/core.*
_rpm/
_staging/
_deb/
*.tgz
*.tar.gz
doc/rst/build/
doc/doxygen/*
.vs
.vscode
include/oneapi/ccl/config.h
*.bc
tools/ze_info/ze_info
