*.d
*.o
*.a
*.log
.lastoptions*
*~
_install/
*.out
tests/unit/result/
*.orig
tests/unit/core.*
_rpm/
_staging/
_deb/
*.tgz
*.tar.gz
doc/doxygen/xml
doc/rst/build/
doc/rst/source/api
doc/spec/build/
doc/spec/source/spec