Package: DEB_NAME
Version: VERSION_FULL
Section: libs
Priority: optional
Architecture: amd64
Maintainer: Intel Corporation
Description: Intel(R) Machine Learning Scaling Library ICCL_SUBSTITUTE_OFFICIAL_VERSION for Linux* OS
Multi-Arch: foreign
